/* Use font --> font-family: 'Montserrat', sans-serif; */
/* Se realizan los media queries respectivos para el diseño responsivo */

body{
    background-color: #F2F2F2;
    font-family: 'Monserrat', sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    justify-self: center;
    padding-top: 5px;
}
.boton-dia-noche{
    position: fixed;
    top: 5px;
    right: 5px;
    bottom: auto;
    left: auto;
    margin: 2px auto 100px 2px;
    max-width: 40px;
    max-height: 40px;
    background-color: lightslategray;
    color: #2E2E2E;
    border: solid lightgray 2px;
    border-radius: 40px;
}
img{
    width: 95%;
    position: relative;
    justify-content: center;
}
button:hover{
    background-color: #B45F04;
}
#boton_ac:hover,
#boton_borrar:hover,
#boton_igual:hover,
#boton_potencia:hover,
#boton_division:hover,
#boton_multiplicacion:hover,
#boton_porcentaje:hover,
#boton_suma:hover,
#boton_resta:hover{
    background-color: #B45F04;
}
.oscuro{
    background-color: #151515;
}

.calculadora{
    display: grid;
    flex-direction: row;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    row-gap: 5px;
    column-gap: 5px;
    background-color: #2E2E2E;
    margin-top: 80px;
    padding: 15px;
    border: #A4A4A4 solid 1px;
}
section>.pantalla{
    margin-bottom: 40px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;   
}

@media (min-width: 50px) and (max-width: 320px){
    .container{
        margin-top: 5px;
    }
    .calculadora{
        width: 100%;
        border-radius: 10px;
        position: relative;
        justify-content: space-around;
    }
    button{
        min-width: 50px;
        min-height: 50px;
        width: 100%;
        height: 100%;
        background-color: #086A87;
        text-align: center;
        border: solid #A4A4A4 1px;
        border-radius: 80px;
        color: white;
        font-size: 24px;
    }
    .boton{
        width: 100%;
        height: 100%;
        /* border: solid gray 1px; */
    }
    #boton_igual{
        width: 100%;
        background-color: #04B45F;
    }
    #boton_ac,
    #boton_borrar{
        width: 100%;
        background-color: #B40404;
    }
    #boton_division,
    #boton_multiplicacion,
    #boton_resta,
    #boton_suma,
    #boton_potencia,
    #boton_porcentaje{
        width: 100%;
        background-color: #0040FF;
    }
    .texto_resultado-0{
        width: 100%;
        /* height: 60px; */
        height: 100%;
        /* background-color: transparent; */
        background-color: #F5ECCE;
        border-radius: 10px;
        text-align: right;
    }
    .texto_resultado-1{
        width: 100%;
        /* height: 60px; */
        height: 100%;
        background-color: #F5ECCE;
        border-radius: 8px;
        font-size: 24px;
        text-align: center;
    }
}
@media (min-width: 321px) and (max-width: 480px) {
    .container{
        margin-top: 5px;
    }
    .calculadora{
        width: 100%;
        border-radius: 10px;
        position: relative;
        justify-content: space-around;
    }
    button{
        min-width: 50px;
        min-height: 50px;
        width: 100%;
        height: 100%;
        background-color: #086A87;
        text-align: center;
        border: solid #A4A4A4 1px;
        border-radius: 80px;
        color: white;
        font-size: 24px;
    }
    .boton{
        width: 100%;
        height: 100%;
        /* border: solid gray 1px; */
    }
    #boton_igual{
        width: 100%;
        background-color: #04B45F;
    }
    #boton_ac,
    #boton_borrar{
        width: 100%;
        background-color: #B40404;
    }
    #boton_division,
    #boton_multiplicacion,
    #boton_resta,
    #boton_suma,
    #boton_potencia,
    #boton_porcentaje{
        width: 100%;
        background-color: #0040FF;
    }
    .texto_resultado-0{
        width: 100%;
        /* height: 60px; */
        height: 100%;
        /* background-color: transparent; */
        background-color: #F5ECCE;
        border-radius: 10px;
        text-align: right;
    }
    .texto_resultado-1{
        width: 100%;
        /* height: 60px; */
        height: 100%;
        background-color: #F5ECCE;
        border-radius: 8px;
        font-size: 24px;
        text-align: center;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .container{
        margin-top: 100px;
    }
    .calculadora{
        width: 100%;
        border-radius: 10px;
        position: relative;
        justify-content: space-around;
    }
    button{
        min-width: 60px;
        min-height: 60px;
        width: 100%;
        height: 100%;
        background-color: #086A87;
        text-align: center;
        border: solid #A4A4A4 1px;
        border-radius: 80px;
        color: white;
        font-size: 26px;
    }
    .boton{
        width: 100%;
        height: 100%;
        /* border: solid gray 1px; */
    }
    #boton_igual{
        width: 100%;
        background-color: #04B45F;
    }
    #boton_ac,
    #boton_borrar{
        width: 100%;
        background-color: #B40404;
    }
    #boton_division,
    #boton_multiplicacion,
    #boton_resta,
    #boton_suma,
    #boton_potencia,
    #boton_porcentaje{
        width: 100%;
        background-color: #0040FF;
    }
    .texto_resultado-0{
        width: 100%;
        /* height: 60px; */
        height: 100%;
        /* background-color: transparent; */
        background-color: #F5ECCE;
        border-radius: 10px;
        text-align: right;
    }
    .texto_resultado-1{
        width: 100%;
        /* height: 60px; */
        height: 100%;
        background-color: #F5ECCE;
        border-radius: 8px;
        font-size: 26px;
        text-align: center;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .container{
        margin-top: 100px;
    }
    .calculadora{
        width: 100%;
        border-radius: 10px;
        position: relative;
        justify-content: space-around;
    }
    button{
        min-width: 70px;
        min-height: 70px;
        width: 100%;
        height: 100%;
        background-color: #086A87;
        text-align: center;
        border: solid #A4A4A4 1px;
        border-radius: 80px;
        color: white;
        font-size: 28px;
    }
    .boton{
        width: 100%;
        height: 100%;
        /* border: solid gray 1px; */
    }
    #boton_igual{
        width: 100%;
        background-color: #04B45F;
    }
    #boton_ac,
    #boton_borrar{
        width: 100%;
        background-color: #B40404;
    }
    #boton_division,
    #boton_multiplicacion,
    #boton_resta,
    #boton_suma,
    #boton_potencia,
    #boton_porcentaje{
        width: 100%;
        background-color: #0040FF;
    }
    .texto_resultado-0{
        width: 100%;
        /* height: 60px; */
        height: 100%;
        /* background-color: transparent; */
        background-color: #F5ECCE;
        border-radius: 10px;
        text-align: right;
    }
    .texto_resultado-1{
        width: 100%;
        /* height: 60px; */
        height: 100%;
        background-color: #F5ECCE;
        border-radius: 8px;
        font-size: 28px;
        text-align: center;
    }
}
@media (min-width: 1025px) and (max-width: 1200px) {
    .container{
        margin-top: 100px;
    }
    .calculadora{
        width: 100%;
        border-radius: 10px;
        position: relative;
        justify-content: space-around;
    }
    button{
        min-width: 80px;
        min-height: 80px;
        width: 100%;
        height: 100%;
        background-color: #086A87;
        text-align: center;
        border: solid #A4A4A4 1px;
        border-radius: 80px;
        color: white;
        font-size: 30px;
    }
    .boton{
        width: 100%;
        height: 100%;
        /* border: solid gray 1px; */
    }
    #boton_igual{
        width: 100%;
        background-color: #04B45F;
    }
    #boton_ac,
    #boton_borrar{
        width: 100%;
        background-color: #B40404;
    }
    #boton_division,
    #boton_multiplicacion,
    #boton_resta,
    #boton_suma,
    #boton_potencia,
    #boton_porcentaje{
        width: 100%;
        background-color: #0040FF;
    }
    .texto_resultado-0{
        width: 100%;
        /* height: 60px; */
        height: 100%;
        /* background-color: transparent; */
        background-color: #F5ECCE;
        border-radius: 10px;
        text-align: right;
    }
    .texto_resultado-1{
        width: 100%;
        /* height: 60px; */
        height: 100%;
        background-color: #F5ECCE;
        border-radius: 8px;
        font-size: 30px;
        text-align: center;
    }
}
@media (min-width: 1201px) and (max-width: 1920px) {
    .container{
        margin-top: 200px;
    }
    .calculadora{
        width: 100%;
        border-radius: 10px;
        position: relative;
        justify-content: space-around;
    }
    button{
        min-width: 80px;
        min-height: 80px;
        width: 100%;
        height: 100%;
        background-color: #086A87;
        text-align: center;
        border: solid #A4A4A4 1px;
        border-radius: 80px;
        color: white;
        font-size: 30px;
    }
    .boton{
        width: 100%;
        height: 100%;
        /* border: solid gray 1px; */
    }
    #boton_igual{
        width: 100%;
        background-color: #04B45F;
    }
    #boton_ac,
    #boton_borrar{
        width: 100%;
        background-color: #B40404;
    }
    #boton_division,
    #boton_multiplicacion,
    #boton_resta,
    #boton_suma,#boton_potencia,
    #boton_porcentaje{
        width: 100%;
        background-color: #0040FF;
    }
    .texto_resultado-0{
        width: 100%;
        /* height: 60px; */
        height: 100%;
        /* background-color: transparent; */
        background-color: #F5ECCE;
        border-radius: 10px;
        text-align: right;
    }
    .texto_resultado-1{
        width: 100%;
        /* height: 60px; */
        height: 100%;
        background-color: #F5ECCE;
        border-radius: 8px;
        font-size: 30px;
        text-align: center;
    }
}
@media (min-width: 1921px) and (max-width: 3840px) {
    .container{
        margin-top: 200px;
    }
    .calculadora{
        width: 100%;
        border-radius: 10px;
        position: relative;
        justify-content: space-around;
    }
    button{
        min-width: 100px;
        min-height: 100px;
        width: 100%;
        height: 100%;
        background-color: #086A87;
        text-align: center;
        border: solid #A4A4A4 1px;
        border-radius: 80px;
        color: white;
        font-size: 32px;
    }
    .boton{
        width: 100%;
        height: 100%;
        /* border: solid gray 1px; */
    }
    #boton_igual{
        width: 100%;
        background-color: #04B45F;
    }
    #boton_ac,
    #boton_borrar{
        width: 100%;
        background-color: #B40404;
    }
    #boton_division,
    #boton_multiplicacion,
    #boton_resta,
    #boton_suma,
    #boton_potencia,
    #boton_porcentaje{
        width: 100%;
        background-color: #0040FF;
    }
    .texto_resultado-0{
        width: 100%;
        /* height: 60px; */
        height: 100%;
        /* background-color: transparent; */
        background-color: #F5ECCE;
        border-radius: 10px;
        text-align: right;
    }
    .texto_resultado-1{
        width: 100%;
        /* height: 60px; */
        height: 100%;
        background-color: #F5ECCE;
        border-radius: 8px;
        font-size: 32px;
        text-align: center;
    }
}
@media (min-width: 3841px) and (max-width: 7680px) {
    .container{
        margin-top: 200px;
    }
    .calculadora{
        width: 100%;
        border-radius: 10px;
        position: relative;
        justify-content: space-around;
    }
    button{
        min-width: 100px;
        min-height: 100px;
        width: 100%;
        height: 100%;
        background-color: #086A87;
        text-align: center;
        border: solid #A4A4A4 1px;
        border-radius: 80px;
        color: white;
        font-size: 32px;
    }
    .boton{
        width: 100%;
        height: 100%;
        /* border: solid gray 1px; */
    }
    #boton_igual{
        width: 100%;
        background-color: #04B45F;
    }
    #boton_ac,
    #boton_borrar{
        width: 100%;
        background-color: #B40404;
    }
    #boton_division,
    #boton_multiplicacion,
    #boton_resta,
    #boton_suma,
    #boton_potencia,
    #boton_porcentaje{
        width: 100%;
        background-color: #0040FF;
    }
    .texto_resultado-0{
        width: 100%;
        /* height: 60px; */
        height: 100%;
        /* background-color: transparent; */
        background-color: #F5ECCE;
        border-radius: 10px;
        text-align: right;
    }
    .texto_resultado-1{
        width: 100%;
        /* height: 60px; */
        height: 100%;
        background-color: #F5ECCE;
        border-radius: 8px;
        font-size: 32px;
        text-align: center;
    }
}
